.git/
.env
ft_userdata/
frequi/node_modules/
frequi/dist/
freqtrade/.venv/
freqtrade/user_data/
freqtrade/freqtrade/rpc/api_server/ui/installed/**
!freqtrade/freqtrade/rpc/api_server/ui/installed/.gitkeep
freqtrade/freqtrade/rpc/api_server/ui/.uiversion
freqtrade/site/
freqtrade/.pytest_cache/
freqtrade/.ruff_cache/
frequi/.vite/
frequi/.nuxt/
frequi/coverage/
frequi/playwright-report/
frequi/test-results/
